!! Transparency (0-255):
!! Set a default font and font size as below:
!! *.font: Monospace-14;

!! The default colors are "Gruvbox":
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

*.alpha: 220

!! Programming color
!*.foreground: #d6dbe5
!*.background: #131313
!*.color0: #1f1f1f
!*.color8: #d6dbe5

!*.color1: #f81118
!*.color9: #de352e

!*.color2:  #2dc55e
!*.color10: #1dd361

!*.color3:   #ecba0f
!*.color11:  #f3bd09

!*.color4:   #2a84d2
!*.color12:  #1081d6

!*.color5:   #4e5ab7
!*.color13:  #5350b9

!*.color6:   #1081d6
!*.color14:  #0f7ddb

!*.color7:   #d6dbe5
!*.color15:  #ffffff

!*.colorBD:  #d6dbe5

*.font: mono:pixelsize=12:antialias=true:autohint=true


